html {
    font-family: 'Poppins', serif;
}
/*body {*/


    /*font-family: 'Merriweather', serif;*/

    /*!*font-family: 'Poppins', sans-serif;*!*/


/*}*/
h1 {
    font-family: 'Poppins', sans-serif;
}
.test {
    width: 2em;
    height: 2em
}