{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Poppins&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
{% if title %}{{ title }} - Exam Search{% else %}Welcome to Exam Search{% endif %}
{% endblock %}
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index')}}">Exam Search</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index')}}">Home</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
</body>