{% extends 'bootstrap/base.html' %}
{% block title %}
{% if title %}{{ title }} - Exam Search{% else %}Welcome to Exam Search{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index')}}">Exam Search</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index')}}">Home</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
